.content {
    background-color: whitesmoke;
}

.user-table {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 10px 30px;
}

table {
    width: 100%;
}

tr {
    line-height: 50px;
}

th {
    border-top: solid 1px gray;
}

td {
    text-align: center;
    border-top: solid 1px gray;
}

.pagination {
    text-align: center;
}

.pagination li {
    display: inline-block;
    font-size: 20px;
    background-color: white;
    color: blue;
    padding: 0 5px;
    margin-bottom: 50px;
}

svg.w-5.h-5 {
    width: 30px;
    height: 30px;
}